* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.conteudo {
    display: grid;
    
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

p, h3 {
    color: black;
}

header {
    padding: 16px 0 0;
    margin-bottom: 56px;
    background-color: #01b6fd;
    height: 70px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    display: flex;
    margin-left: 16px;
    font-size: 24px;
    }

header nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
}

.menu {
    float: right;
}

.menu li{
    display: inline-block;
    margin-left: 20px;
}

section h2 {
    color: #0151fd;
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.about-image img {
    max-width: 100%;
    height: auto;
    max-width: 400px;
}

.about-text {
    flex: 1;
    margin-left: 25px;
}

h2 {
    margin-top: 5px;
}

.about-text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;

}

.about-text h4 {
    color: #fff;
    border-bottom: 1px solid #0151fd;
    margin-bottom: 25px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}

.products-section{
    margin: 50px 0;
    margin-bottom: 10px;
}

.products-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #0151fd;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: 246px;
    margin-top: 15px;
}

.product-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.product-item p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .conteudo {
        display: block;
    }

    body {
        width: 100%;

    }

    .container {
        max-width: 90%;
    }

    header div.container {
        flex-direction: row;
    }

    .container .about-text {
        display: block;
        font-size: 1.5em;
    }

    .products-list {
        display: block;
        grid-template-columns: repeat(2, 49%);
        column-gap: 1%;
        row-gap: 5%;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .container {
        max-width: 90%;
    }

    .about-section .about-text {
        font-size: 1.5em;
    }

    .products-list {
        grid-template-columns: repeat(2, 49%);
    }
}
